
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    position: relative;
    z-index: -2;
}


.container {
    width: 1110px;
}

.center-section-element {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*header*/

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 91, 193, 0.6);
    position: relative;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 40px;
}
.menu__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin: 0 0 0 27px;
}
.menu__item:first-child {
    margin: 0;
}

/*first screen*/

.first-screen {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/top-bg.png") no-repeat;
    background-size: cover;
    position: relative;
    top: -80px;
    left: 0;
    z-index: -1;
}
.first-screen__content {
    position: relative;
    z-index: 1;
}
.first-screen__element {
    width: 444px;
    height: 720px;
    background: rgba(0, 91, 193, 0.6);
    position: absolute;
    top: 80px;
    left: 27%;
}
.title {
    max-width: 635px;
    font-family: 'Oswald-Light';
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #fff;
}
.description {
    max-width: 405px;
    margin: 40px 0;
    font-family: 'Oswald-Light';
    font-weight: lighter;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.go-button {
    width: 160px;
    height: 51px;
    background: transparent;
    border: 3px solid #fff;
    font-family: 'Oswald-Regular';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
}

/*our projects*/

.our-project__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 0;
}
.section-title {
    display: flex;
    align-items: center;
}
.lines {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.first-line {
    width: 100px;
    margin: 0 0 7px 0;
}
.second-line {
    width: 50px;
}
.one-line {
    height: 2px;
    background: #005BC1;
}
.main-title {
    font-family: 'Oswald-Light';
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin: 0 0 0 30px;
}
.section-buttons {
    display: flex;
    outline: none;
}
.one-button {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #005BC1;
    cursor: pointer;
}
.first-button-icon {
    transform: rotate(90deg);
}
.second-button-icon {
    transform: rotate(-90deg);
}
.one-button__img {
    position: relative;
    z-index: -1;
}
.one-button:first-child {
    margin: 0 -3px 0 0;
}
.our-project__center-block {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 0 0 0;
    transition: .3s linear;
    position: relative;
    top: 0;
    left: 0;
}

.our-project__element {
    width: 540px;
    max-width: 540px;
    position: relative;
    margin: 0 30px 0 0;
}
.element-img {
    width: 540px;
    max-width: 540px;
    height: 400px;
}
.view-area {
    width: 1110px;
    overflow: hidden;
}

.element-block {
    width: 250px;
    height: 110px;
    background: #fff;
    position: absolute;
    bottom: 35px;
    right: 35px;
    box-sizing: border-box;
    padding: 20px 25px;
}
.element-content__title {
    font-family: 'Oswald-Regular';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.element-content__description {
    font-family: 'Oswald-Light';
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}

/* catalog */

.catalog {
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-margin {
    margin: 150px 0 0 0;
}
.catalog .container {
    display: flex;
    flex-direction: column;
}
.catalog-switches {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
}
.one-switch {
    font-family: 'Oswald-Regular';
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    cursor: pointer;
}
.one-switch:first-child {
    margin: 0 23px 0 0;
}
.one-switch:nth-child(2) {
    margin: 0 0 0 23px;
}
.one-switch--active {
    color: #005BC1;
    border-bottom: 3px solid #005BC1;
}
.catalog__items-block {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
.one-item-block {
    width: 350px;
    height: 300px;
}
.one-item-block__img {
    width: 100%;
    height: 100%;
}

/* rent */

.rent .conteiner {
    display: flex;
    flex-direction: column;
}
.rent-description {
    max-width: 320px;
    font-size: 18px;
    line-height: 22px;
}
.rent-center-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
}
.center-block__right-content {
    border: 3px solid #005BC1;
    box-sizing: border-box;
    padding: 30px 20px 30px 30px;
}
.right-content__top {
    display: flex;
    align-items: center;
}
.right-content__title {
    margin: 0 56px 0 0;
    font-family: 'Oswald-Regular';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.right-content__middle {
    display: flex;
    align-items: center;
}
.right-content__middle-img {
    width: 255px;
}
.middle-content {
    margin: 0 0 0 50px;
}
.middle-content__title {
    font-family: 'Oswald-Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.content-list {
    margin: 0 0 0 20px;
}
.content-list__item {
    margin: 30px 0 15px 0;
    font-family: 'Oswald-Light';
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.content-list__item:last-child {
    margin: 0;
}

/* news */

.news .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-line-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-button {
    width: 190px;
    height: 51px;
    background: #005BC1;
    border: none;
    font-family: 'Oswald-SemiBold', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.all-news-block {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 70px 0 0 0;
}
.news-first-block {
    display: flex;
    align-items: center;
    margin: 0 60px 0 0;
}
.news-first-block__image {
    width: 255px;
    height: 242px;
}
.news-first-block__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 30px;
}
.news-first-line {
    width: 255px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__title {
    max-width: 255px;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.news__date {
    font-family: 'Oswald-SemiBold';
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #979797;
}
.f-news-description {
    margin: 42px 0 0 0;
}
.news__description {
    max-width: 255px;
    font-family: 'Oswald-Light';
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.news__link {
    margin: 21px 0 0 0;
    font-family: 'Oswald-Regular';
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}
.news-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.indent-news-block {
    margin: 20px 0;
}
.news-block__img {
    width: 128px;
    height: 115px;
    margin: 0 20px 0 0;
}
.news-block__bottom {
    display: flex;
    align-items: flex-end;
}














/*fonts*/

@font-face {
    font-family: 'Oswald-Light';
    src: url("../fonts/Oswald-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url("../fonts/Oswald-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
}
@font-face {
    font-family: 'Oswald-SemiBold';
    src: url("../fonts/Oswald-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
}